<?xml version="1.0" encoding="ISO-8859-1"?>

<!-- $Id$ -->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="3.0">

    <display-name>Vaadin+Spring Demo #3</display-name>
    <description>Vaadin+Spring Demo #3</description>

    <!-- Spring context loader -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- Vaadin servlet -->
    <servlet>
        <servlet-name>HelloWorld</servlet-name>
        <servlet-class>org.dellroad.stuff.vaadin7.SpringVaadinServlet</servlet-class>
        <init-param>
            <param-name>UI</param-name>
            <param-value>com.example.HelloUI</param-value>
        </init-param>
        <init-param>
            <param-name>productionMode</param-name>
            <param-value>false</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloWorld</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>
