<?xml version="1.0" encoding="UTF-8"?>

<!-- $Id$ -->
<ivysettings>

    <!-- Define resolvers -->
    <resolvers>

        <!-- Ivy RoundUp -->
        <packager name="ivyroundup" buildRoot="${user.home}/.ivy2/packager/build" resourceCache="${user.home}/.ivy2/packager/cache">
            <ivy pattern="http://ivyroundup.googlecode.com/svn/trunk/repo/modules/[organisation]/[module]/[revision]/ivy.xml"/>
            <artifact pattern="http://ivyroundup.googlecode.com/svn/trunk/repo/modules/[organisation]/[module]/[revision]/packager.xml"/>
        </packager>
    </resolvers>

    <!-- Define how to find modules -->
    <modules>
        <module organisation=".*" name=".*" resolver="ivyroundup"/>
    </modules>

    <!-- Misc -->
    <caches useOrigin="true"/>
</ivysettings>

